.kakao_btn{
  background-image: url("https://developers.kakao.com/tool/resource/static/img/button/login/full/ko/kakao_login_medium_narrow.png");
  background-repeat: no-repeat;
  background-size : cover;
  margin: 10px auto;
  /* padding: -10px; */
  color: transparent;
  width: 300px;
  height: 73px;
}
